#Kern County Scraping Git Ignore File
#Peter Storm
#pqs4@cornell.edu


#ignore kern_county_permit_data
#all data files can be downloaded at following link:
#git push -u origin master
kern_county_permit_data/*